@use "../util" as *;

.toggle {
  width: rem(56);
  height: rem(28);
  border-radius: 100vw;
  background: var(--toggle);
  padding: rem(4);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(black, 0);

  &-circle {
    content: "";
    display: block;
    width: rem(20);
    height: rem(20);
    background-color: var(--background-color);
    border-radius: 50%;
    transform: translateX(rem(28));
    will-change: transform;
    pointer-events: none;
    transition: transform 250ms ease;

    &.is-active {
      transform: translateX(0);
    }
  }
}
